<ion-content>
  <div class="card">
    <ion-icon (click)="getBack()" color="medium" name="chevron-back-sharp"></ion-icon>
    <div class="container">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1><b>Zur Gruppe einladen</b></h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text color="medium">Lade eine Person über seine E-Mail ein!</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input placeholder="E-Mail" type="email" [(ngModel)]="email"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="invite()">Person einladen</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
