<ion-content>
  <div id="card">
    <ion-icon (click)="getBack()" color="medium" name="chevron-back-sharp"></ion-icon>
    <div id="container">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1><b>Kontodaten anfordern</b></h1>
            <ion-text color="medium">
              <span>Du möchtest Auskunft über deine persönlichen Daten?<br>Dann schreibe uns eine E-Mail unter <b>office@teamorder.at</b>.</span>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="../../../assets/personal_data.svg">
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
