<ion-content forceOverscroll="false">
  <ion-grid>
    <h2>Konto</h2>
    <ion-row class="box" routerLink="/update-user">
      <ion-col>
        <span>Daten ändern</span>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-icon name="chevron-forward-sharp"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="box" routerLink="/change-pw">
      <ion-col>
        <span>Passwort ändern</span>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-icon name="chevron-forward-sharp"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="box" routerLink="/delete-acc">
      <ion-col>
        <span>Konto löschen</span>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-icon name="chevron-forward-sharp"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="box" routerLink="/personal-data">
      <ion-col>
        <span>Kontodaten anfordern</span>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-icon name="chevron-forward-sharp"></ion-icon>
      </ion-col>
    </ion-row>
    <h2>Allgemein</h2>
    <ion-row class="switch-box">
      <ion-col>
        <span>Dunkler Modus</span>
      </ion-col>
      <ion-col id="switch" class="ion-text-right">
        <ion-toggle color="primary"></ion-toggle>
      </ion-col>
    </ion-row>
    <ion-row id="button">
      <ion-button (click)="logout()">Abmelden</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
