<ion-content forceOverscroll="false">

  <ion-grid>

    <ion-row>
      <ion-col>
        <h2>Konto</h2>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="ion-activatable ripple-parent ion-no-margin" (click)="navigateTo('update-user')">
          <ion-card-content>
            <ion-row>
              <ion-col size="10">
                Daten ändern
              </ion-col>
              <ion-col class="ion-text-end">
                <ion-icon name="chevron-forward-sharp"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card-content>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="ion-activatable ripple-parent ion-no-margin" (click)="navigateTo('change-pw')">
          <ion-card-content>
            <ion-row>
              <ion-col size="10">
                Passwort ändern
              </ion-col>
              <ion-col class="ion-text-end">
                <ion-icon name="chevron-forward-sharp"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card-content>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="ion-activatable ripple-parent ion-no-margin" (click)="navigateTo('delete-acc')">
          <ion-card-content>
            <ion-row>
              <ion-col size="10">
                Konto löschen
              </ion-col>
              <ion-col class="ion-text-end">
                <ion-icon name="chevron-forward-sharp"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card-content>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="ion-activatable ripple-parent ion-no-margin" (click)="navigateTo('personal-data')">
          <ion-card-content>
            <ion-row>
              <ion-col size="10">
                Kontodaten anfordern
              </ion-col>
              <ion-col class="ion-text-end">
                <ion-icon name="chevron-forward-sharp"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card-content>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click)="logout()">Abmelden</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
