<ion-content>
  <div id="card">
    <ion-icon routerLink="/login" routerDirection="back" color="medium" name="chevron-back-sharp"></ion-icon>
    <div id="container">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1><b>Registrierung</b></h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input placeholder="Vorname" type="text"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input placeholder="Nachname" type="text"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input placeholder="E-Mail" type="email"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input placeholder="Neues Passwort" type="password"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input placeholder="Neues Passwort bestätigen" type="password"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input placeholder="Geschlecht" type="text"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input placeholder="Land" type="text"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input placeholder="Geburtstag" type="text"></ion-input>
            <!--<ion-datetime presentation="date"></ion-datetime>-->
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button>Account erstellen</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
