<ion-content forceOverscroll="false">

  <ion-grid>

    <ion-row>
      <ion-col>
        <h2>Von dir erstellte Gruppen</h2>
      </ion-col>
    </ion-row>
    <div *ngIf="creatorGroups.length !== 0; then creatorThenBlock else creatorElseBlock"></div>

    <ng-template #creatorThenBlock>
      <div *ngFor="let item of creatorGroups">
        <ion-row>
          <ion-col>
            <ion-card class="ion-activatable ripple-parent ion-no-margin">
              <ion-card-content (click)="detailView(item)">
                <h2>{{ item.group_name }}</h2>
              </ion-card-content>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </ng-template>

    <ng-template #creatorElseBlock>
      <ion-row>
        <ion-col>
          <ion-card class="ion-no-margin">
            <ion-card-content class="ion-text-center">
              <p>Keine von dir erstellten Gruppen</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-template>

    <ion-row>
      <ion-col>
        <h2>Von anderen erstellte Gruppen</h2>
      </ion-col>
    </ion-row>
    <div *ngIf="otherGroups.length !== 0; then otherThenBlock else otherElseBlock"></div>

    <ng-template #otherThenBlock>
      <div *ngFor="let item of otherGroups">
        <ion-row>
          <ion-col>
            <ion-card class="ion-activatable ripple-parent ion-no-margin">
              <ion-card-content (click)="detailView(item)">
                <h2>{{ item.group_name }}</h2>
              </ion-card-content>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </ng-template>

    <ng-template #otherElseBlock>
      <ion-row>
        <ion-col>
          <ion-card class="ion-no-margin">
            <ion-card-content class="ion-text-center">
              <p>Keine von anderen erstellten Gruppen</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-template>

    <div *ngIf="invitations.length !== 0">
      <ion-row>
        <ion-col>
          <h2>Gruppeneinladungen</h2>
        </ion-col>
      </ion-row>
      <div *ngFor="let item of invitations">
        <ion-row>
          <ion-col>
            <ion-card class="ion-no-margin">
              <ion-card-content>
                <ion-row>
                  <ion-col class="ion-align-self-center">
                    <h2>{{ item.group_name }}</h2>
                  </ion-col>
                  <ion-col class="ion-text-end ion-align-self-center">
                    <ion-icon color="success" name="checkmark-sharp" (click)="acceptInvite(item)"></ion-icon>
                    <ion-icon color="danger" name="close-sharp" (click)="presentDeclineAlert(item)"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </div>

  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createGroup()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
