<ion-content forceOverscroll="false">

  <ion-grid>
    <div *ngIf="creatorGroups.length !== 0">
      <ion-row>
        <ion-col>
          <h2>Von dir erstellte Gruppen</h2>
        </ion-col>
      </ion-row>
      <div *ngFor="let item of creatorGroups">
        <ion-row>
          <ion-col>
            <ion-card class="ion-activatable ripple-parent" >
              <ion-card-content (click)="detailView(item)">
                <h2>{{ item.group_name }}</h2>
              </ion-card-content>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <div *ngIf="otherGroups.length !== 0">
      <ion-row>
        <ion-col>
          <h2>Von anderen erstellte Gruppen</h2>
        </ion-col>
      </ion-row>
      <div *ngFor="let item of otherGroups">
        <ion-row>
          <ion-col>
            <ion-card class="ion-activatable ripple-parent">
              <ion-card-content (click)="detailView(item)">
                <h2>{{ item.group_name }}</h2>
              </ion-card-content>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <div *ngIf="invitations.length !== 0">
      <ion-row>
        <ion-col>
          <h2>Gruppeneinladungen</h2>
        </ion-col>
      </ion-row>
      <div *ngFor="let item of invitations">
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-content>
                <ion-row>
                  <ion-col>
                    <h2>{{ item.group_name }}</h2>
                  </ion-col>
                  <ion-col class="ion-text-end">
                    <ion-icon color="success" name="checkmark-sharp" (click)="acceptInvite(item.group_id)"></ion-icon>
                    <ion-icon color="danger" name="close-sharp" (click)="declineInvite(item.group_id)"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/create-group">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
