<ion-content forceOverscroll="false">

  <ion-grid>
    <div *ngIf="myInitialOrders.length !== 0">
      <ion-row>
        <ion-col>
          <h2>Gestartete Bestellungen</h2>
        </ion-col>
      </ion-row>
      <div *ngFor="let item of myInitialOrders">
        <ion-row>
          <ion-col>
            <ion-card class="ion-activatable ripple-parent" (click)="detailView(item)">
              <ion-card-content>
                <ion-row>
                  <ion-col>
                    <h2>{{ item.group_name }}</h2>
                    <p>Bestellort: {{ item.place }}</p>
                  </ion-col>
                </ion-row>
              </ion-card-content>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <div *ngIf="otherRunningOrders.length !== 0">
      <ion-row>
        <ion-col>
          <h2>Laufende Bestellungen</h2>
        </ion-col>
      </ion-row>
      <div *ngFor="let item of otherRunningOrders">
        <ion-row>
          <ion-col>
            <ion-card class="ion-activatable ripple-parent" (click)="orderWith(item)">
              <ion-card-content>
                <ion-row>
                  <ion-col>
                    <h2>{{ item.group_name }}</h2>
                    <p>Bestellort: {{ item.place }}</p>
                  </ion-col>
                  <ion-col style="color: red;" class="ion-text-end">
                    bis {{ item.deadline.substring(11, item.deadline.length-3) }}
                  </ion-col>
                </ion-row>
              </ion-card-content>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <div *ngIf="currentWithOrderings.length !== 0">
      <ion-row>
        <ion-col>
          <h2>Aktuelle Mitbestellungen</h2>
        </ion-col>
      </ion-row>
      <div *ngFor="let item of currentWithOrderings">
        <ion-row>
          <ion-col>
            <ion-card class="ion-activatable ripple-parent" (click)="orderingData(item)">
              <ion-card-content>
                <ion-row>
                  <ion-col>
                    <h2>{{ item.group_name }}</h2>
                    <p>Bestellort: {{ item.place }}</p>
                  </ion-col>
                  <ion-col class="ion-text-end">
                    Anzahl: {{ item.order_count }}
                  </ion-col>
                </ion-row>
              </ion-card-content>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </div>

  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/create-order">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
