<ion-content forceOverscroll="false">

  <ion-grid>

    <ion-row>
      <ion-col>
        <h2>Von dir gestartete Bestellungen</h2>
      </ion-col>
    </ion-row>
    <div *ngIf="myInitialOrders.length !== 0; then thenBlock else elseBlock"></div>

    <ng-template #thenBlock>
      <div *ngFor="let item of myInitialOrders">
        <ion-row>
          <ion-col>
            <ion-card class="ion-activatable ripple-parent ion-no-margin" (click)="detailView(item)">
              <ion-card-content>
                <ion-row>
                  <ion-col class="ion-align-self-center">
                    <h2>{{ item.group_name }}</h2>
                    <p>{{ item.place }}</p>
                  </ion-col>
                  <ion-col class="ion-text-end ion-align-self-center">
                    <ion-icon *ngIf="checkOrderOpen(item.deadline) === true" color="warning" name="time"></ion-icon>
                    <ion-icon *ngIf="checkOrderOpen(item.deadline) === false" color="primary" name="time"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-card-content>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </ng-template>

    <ng-template #elseBlock>
      <ion-row>
        <ion-col>
          <ion-card class="ion-no-margin">
            <ion-card-content class="ion-text-center">
              <p>Aktuell keine</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-template>

    <ion-row>
      <ion-col>
        <h2>Möglichkeiten mitzubestellen</h2>
      </ion-col>
    </ion-row>
    <div *ngIf="otherRunningOrders.length !== 0; then runningThenBlock else runningElseBlock"></div>

    <ng-template #runningThenBlock>
      <div *ngFor="let item of otherRunningOrders">
        <ion-row>
          <ion-col>
            <ion-card class="ion-activatable ripple-parent ion-no-margin" (click)="orderWith(item)">
              <ion-card-content>
                <ion-row>
                  <ion-col size="9">
                    <h2>{{ item.group_name }}</h2>
                    <p>{{ item.place }}</p>
                  </ion-col>
                  <ion-col class="ion-text-end ion-align-self-center">
                    <ion-text color="danger">
                      bis {{ item.deadline.substring(11, item.deadline.length-3) }}
                    </ion-text>
                  </ion-col>
                </ion-row>
              </ion-card-content>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </ng-template>

    <ng-template #runningElseBlock>
      <ion-row>
        <ion-col>
          <ion-card class="ion-no-margin">
            <ion-card-content class="ion-text-center">
              <p>Aktuell keine</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-template>

    <ion-row>
      <ion-col>
        <h2>Deine Mitbestellungen</h2>
      </ion-col>
    </ion-row>
    <div *ngIf="currentWithOrderings.length !== 0; then orderingsThenBlock else orderingsElseBlock"></div>

    <ng-template #orderingsThenBlock>
      <div *ngFor="let item of currentWithOrderings">
        <ion-row>
          <ion-col>
            <ion-card class="ion-activatable ripple-parent ion-no-margin" (click)="orderingData(item)">
              <ion-card-content>
                <ion-row>
                  <ion-col size="9">
                    <h2>{{ item.group_name }}</h2>
                    <p>{{ item.place }}</p>
                  </ion-col>
                  <ion-col class="ion-text-end ion-align-self-center">
                    Anzahl: {{ item.order_count }}
                  </ion-col>
                </ion-row>
              </ion-card-content>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </ng-template>

    <ng-template #orderingsElseBlock>
      <ion-row>
        <ion-col>
          <ion-card class="ion-no-margin">
            <ion-card-content class="ion-text-center">
              <p>Aktuell keine</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-template>

  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/create-order">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
