<ion-content forceOverscroll="false">

  <ion-grid>

    <div *ngIf="creditors.length !== 0">
      <ion-row>
        <ion-col>
          <h2>Du hast Schulden bei</h2>
        </ion-col>
      </ion-row>
      <div *ngFor="let item of creditors">
        <ion-row>
          <ion-col>
            <ion-card >
              <ion-card-content>
                <ion-row>
                  <ion-col>
                    <h2>{{ item.creditor.firstname }} {{ item.creditor.lastname }}</h2>
                  </ion-col>
                  <ion-col class="ion-text-end">
                    <h2 style="color: red;">{{ item.outstanding_amount.toFixed(2) }}€</h2>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <div *ngIf="debtors.length !== 0">
      <ion-row>
        <ion-col>
          <h2>Haben bei dir Schulden</h2>
          <span>Zur Tilgung anklicken:</span>
        </ion-col>
      </ion-row>
      <div *ngFor="let item of debtors">
        <ion-row>
          <ion-col>
            <ion-card (click)="paid(item)" class="ion-activatable ripple-parent">
              <ion-card-content>
                <ion-row>
                  <ion-col>
                    <h2>{{ item.debtor.firstname }} {{ item.debtor.lastname }}</h2>
                  </ion-col>
                  <ion-col class="ion-text-end">
                    <h2 id="debtorAmount">{{ item.outstanding_amount.toFixed(2) }}€</h2>
                  </ion-col>
                </ion-row>
              </ion-card-content>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </div>

  </ion-grid>
</ion-content>
