<ion-content forceOverscroll="false">

  <ion-grid>

    <ion-row>
      <ion-col>
        <h2>Du hast Schulden bei</h2>
      </ion-col>
    </ion-row>

    <div *ngIf="creditors.length !== 0; then creditorThenBlock else creditorElseBlock"></div>

      <ng-template #creditorThenBlock>
        <div *ngFor="let item of creditors">
          <ion-row>
            <ion-col>
              <ion-card class="ion-no-margin">
                <ion-card-content>
                  <ion-row>
                    <ion-col>
                      <h2>{{ item.creditor.firstname }} {{ item.creditor.lastname }}</h2>
                    </ion-col>
                    <ion-col class="ion-text-end">
                      <ion-text color="danger">
                        <h2>{{ item.outstanding_amount.toFixed(2) }}€</h2>
                      </ion-text>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </div>
      </ng-template>

      <ng-template #creditorElseBlock>
        <ion-row>
          <ion-col>
            <ion-card class="ion-no-margin">
              <ion-card-content class="ion-text-center">
                <p>Aktuell keinen Personen</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ng-template>

    <div *ngIf="debtors.length !== 0; then debtorsThenBlock else debtorsElseBlock"></div>

    <ng-template #debtorsThenBlock>
      <ion-row>
        <ion-col>
          <h2>Haben Schulden bei dir</h2>
          <span>Für einen Ausgleich anklicken!</span>
        </ion-col>
      </ion-row>
      <div *ngFor="let item of debtors">
        <ion-row>
          <ion-col>
            <ion-card (click)="presentAlert(item)" class="ion-activatable ripple-parent ion-no-margin">
              <ion-card-content>
                <ion-row>
                  <ion-col>
                    <h2>{{ item.debtor.firstname }} {{ item.debtor.lastname }}</h2>
                  </ion-col>
                  <ion-col class="ion-text-end">
                    <ion-text color="primary">
                      <h2>{{ item.outstanding_amount.toFixed(2) }}€</h2>
                    </ion-text>
                  </ion-col>
                </ion-row>
              </ion-card-content>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </ng-template>

    <ng-template #debtorsElseBlock>
      <ion-row>
        <ion-col>
          <h2>Haben Schulden bei dir</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card class="ion-no-margin">
            <ion-card-content class="ion-text-center">
              <p>Aktuell keine Personen</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-template>

  </ion-grid>

  <div class="loader">
    <ion-progress-bar type="indeterminate" *ngIf="loaderActivated"></ion-progress-bar>
  </div>

</ion-content>
