<ion-content forceOverscroll="false">
  <ion-grid class="detail-page">
    <ion-row>
      <ion-col>
        <ion-icon (click)="getBack()" color="medium" name="chevron-back-sharp"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <h1><b>Aktuelle Mitbestellung</b></h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-end">
        <b>Gruppe:</b>
      </ion-col>
      <ion-col class="ion-text-start">
        {{ currData.group_name }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-end">
        <b>Bestellort:</b>
      </ion-col>
      <ion-col class="ion-text-start">
        {{ currData.place }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-end">
        <b>Gestartet von:</b>
      </ion-col>
      <ion-col class="ion-text-start">
        {{ currData.initial_user }}
      </ion-col>
    </ion-row>

    <div *ngFor="let item of orders">
      <ion-row>
        <ion-col>
          <ion-card class="ion-no-margin">
            <ion-card-content>
              <ion-row>
                <ion-col class="ion-no-margin ion-align-self-center">
                  <p>{{ item.order_content }}</p>
                </ion-col>
                <ion-col size="3" class="ion-text-end ion-align-self-center">
                  <ion-icon color="danger" name="trash-sharp" (click)="presentDeleteAlert(item)"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>

  </ion-grid>
</ion-content>
