<ion-content>
  <div id="card">
    <ion-icon (click)="getBack()" color="medium" name="chevron-back-sharp"></ion-icon>
    <div id="container">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1><b>Passwort vergessen?</b></h1>
            <ion-text color="medium">
              <span>Gib deine E-Mail ein und erhalte einen Code, mit welchen du ein neues Passwort erstellen kannst.</span>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input placeholder="E-Mail" type="email" [(ngModel)]="email"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="sendLink()">Senden</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
