<ion-content>
  <div id="card">
    <ion-icon (click)="getBack()" routerDirection="back" color="medium" name="chevron-back-sharp"></ion-icon>
    <div id="container">
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- mit Namen austauschen -->
            <h1><b>Test user</b></h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="ion-text-start input-box">
              <ion-select placeholder="Geschlecht" ok-text="Ok" cancel-text="Abbrechen" [(ngModel)]="gender">
                <ion-select-option value="CREATOR">Ersteller</ion-select-option>
                <ion-select-option value="ADMIN">Admin</ion-select-option>
                <ion-select-option value="MEMBER">Mitglied</ion-select-option>
              </ion-select>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="update()">Änderungen übernehmen</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
