ion-icon {
  font-size: 30px;
}

.ios ion-grid {
  margin-top: 50px;
}

.md ion-grid {
  margin-top: 20px;
}

ion-button {
  height: 45px;

  ion-icon {
    margin: 0 5px 0 0;
    font-size: 20px !important;
    color: white;
  }
}
