<ion-content>
  <div id="card">
    <ion-row>
      <ion-col>
        <ion-icon (click)="getBack()" routerDirection="back" color="medium" name="chevron-back-sharp"></ion-icon>
      </ion-col>
      <ion-col class="ion-text-end">
        <ion-icon (click)="removeUser()" color="danger" name="person-remove"></ion-icon>
      </ion-col>
    </ion-row>
    <div id="container">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1><b>{{ user.firstname }} {{ user.lastname }}</b></h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="ion-text-start input-box">
              <ion-select placeholder="Rolle" ok-text="Ok" cancel-text="Abbrechen" [(ngModel)]="user.role_type_en">
                <div *ngFor="let item of roles | slice:1">
                  <ion-select-option value="{{ item.role_type }}">{{ toTitleCase(item.role_type_de) }}</ion-select-option>
                </div>
              </ion-select>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="updateUser()">Änderung übernehmen</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
